extends layout.pug 


block content 

    h1 All blogs




    if deleted  
        p.success Deleted successfully

    .blogcontainer 
         


        each blog in blogs
            .blog-wrapper 
                .blog-image
                    img(src=`/static/images/${ blog.image }`, alt="")
                .blog-content
                    .inside-content 
                        a.blogs(href=`/allblogs/${ blog.id }`) #{ blog.title }  
                        a.author(href=`/allblogs/${ blog.id }`) posted by #{ blog.username }  
                    .controls 
                        a.edit(href='/edit') Edit  
                        a.delete(href=`/${ blog.id }/delete`)
                            img(src="/static/images/delete.png", alt="")

      
        