extends layout.pug 


block content 

    h1 All blogs
    form(action='/search', method='get')
        label(for='q') Search:
        input#q(type='text', name='q')
        input(type='submit', value='Search')


    h1 Search Results
    ul
        each result in results
            li= result.title


    if deleted  
        p.success Deleted successfully

    .blogcontainer 
         


        each blog in blogs
            .blog-wrapper 
                .blog-image
                    img(src=`/static/images/${ blog.image }`, alt="")
                .blog-content
                    .inside-content 
                        a.blogs(href=`/allblogs/${ blog.id }`) #{ blog.title }  
                        a.author(href=`/allblogs/${ blog.id }`) posted by #{ blog.username }  
                    .controls 
                        a.edit(href=`/edit/:id`) Edit  
                        a.delete(href=`/${ blog.id }/delete`)
                            img(src="/static/images/delete.png", alt="")

    button.allblogs-button  
        a(href="/create") Create Blog   
        